@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: #444;
    color: #FFF;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

h1, h2 {
    font-weight: 300;
}